.main {
  min-height: 100%;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  row-gap: 2rem;
  max-width: 28rem;
  margin: 0 auto;
}

.main section {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  margin-bottom: 2rem;
}

.main h2 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  text-align: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.tagline {
  font-size: 1.25rem;
  line-height: 1;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 -16px;
}

.form {
  text-align: center;
  grid-column: 2 / span 4;
  max-width: 100%;
}

.form > * {
  display: block;
  margin: 0 auto 1rem;
  width: 100%;
}

.fullspan {
  grid-column: 1 / -1;
}

.readingRecord {
  background-color: #eaeaea;
  border-radius: 4px;
  display: flex;
  padding: 16px;
  gap: 1rem;
  align-items: center;
  justify-content: space-evenly;
}

.readingRecord > span {
  border-radius: 50%;
  flex-shrink: 0;
}
